.app-menu {
  .drawer {
    position: relative;

    .app-title {
      height: 4rem;
      display: flex;
      margin-right: 4.5rem;
      padding: var(--universal-padding);
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      .app-icon {
        max-width: 3rem;
        margin-right: var(--universal-padding);
      }

      .title-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;

        > span {
          white-space: nowrap;
          font-size: 0.75em;
          &:first-of-type {
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }

    .button-wrapper {
      padding: var(--universal-padding);

      a.button {
        width: calc(100% - (var(--universal-padding) * 3) - (2 * 0.0625rem));
        text-align: center;
        margin: var(--universal-margin) 0;
      }
    }
  }
}
