.connection-status {
  display: flex;
  flex-direction: column;
  margin: calc(var(--universal-margin) * 2);
  text-align: center;
  align-items: center;

  .app-title {
    margin-bottom: calc(var(--universal-margin) * 4);

    @media screen and (orientation: portrait) {
      flex-direction: column;
      
      .headers {
        margin: 0;
      }
    }
  }

  .status-description {
    display: flex;
    align-items: center;
  }
}
