.page {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: #{$viewport-sm-max};
  margin: 0;

  &.card {
    border: none;
  }

  form {
    width: calc(
      100% - (var(--universal-margin) * 2) - (var(--universal-padding) * 2)
    );
  }
}
