.vertical-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider-wrapper {
    position: relative;

    .background-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 0.5rem;

      .background {
        border-radius: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-warning); 

        &.clip {
          background-color: var(--color-info); 
        }
      }
    }
  }

  .react-slider-vertical {
    height: 380px;
    width: 3rem;
    border: 0.0625rem solid var(--form-border-color);
    border-radius: 0.5rem;
  
    .slider-track {
      position: relative;
      background: var(--form-back-color);
      left: calc((3rem / 2) - 0.25rem);
      width: 0.5rem;
  
      &.slider-track-0 {
        background: var(--card-fore-color);
      }
    }
  
    .slider-thumb {
      font-size: 0.9em;
      background-color: black;
      color: var(--card-fore-color);
      cursor: pointer;
      border: 0.0625rem solid gray;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem; 
  
      left: 0.0625rem;
      width: calc(3rem - (0.0625rem * 2));
      height: calc(3rem - (0.0625rem * 2));
    
      &.active {
        background-color: grey;
      }
    }
  }

  .passed {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--universal-margin);
    border-radius: 0.5rem;
    
    &.success {
      background-color: var(--color-success);
    }

    &.fail {
      background-color: var(--color-danger);
    }
  }
}  

