.page.about {
  .app-footer {
    img {
      @media screen and (min-width: $viewport-md-min) {
        max-width: 15vmin;
      }
    }
  }

  .button-wrapper {
    margin-top: calc(var(--universal-margin) * 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}