// These are lifted directly from the MiniCSS docs
// @see https://minicss.org/docs#grid
$viewport-sm-max: 767px;
$viewport-md-min: 768px;
$viewport-md-max: 1279px;
$viewport-lg-min: 1280px;

@import "/node_modules/mini.css/dist/mini-dark.css";
@import "components/.components";

:root {
  --a-link-color: #cc7641;
  --a-visited-color: #c7703a;
  --nav-link-color: #cc7641;
  --color-success: #1cb729;
  --color-warning: #dabf28;
}

body {
  min-width: 320px;
}

#app {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
}

.app {
  position: relative;
  width: calc(100% - (var(--universal-padding) * 2));
  min-height: calc(100% - (var(--universal-padding) * 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--universal-padding);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--universal-padding);
}

.footer {
  text-align: center;
}

.please-wait {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.success {
  --card-back-color: var(--color-success);
  --card-fore-color: #f8f8f8;
  --card-border-color: #1cb729;
}

.app-menu {
  .drawer-toggle,
  .drawer-close {
    border: 0.15rem solid var(--button-back-color);
    position: absolute;
    top: var(--universal-margin);
    right: var(--universal-margin);
    width: 2rem;
    height: 2rem;
    border-radius: var(--universal-border-radius);
    padding: var(--universal-padding);
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: var(--button-hover-back-color);
    }
  }

  .drawer-toggle {
    font-size: 1.15em;
  }
}

span[class^="icon-"] {
  background-repeat: no-repeat;
}

span[class^="icon-"] + span {
  margin-left: var(--universal-margin);
}

button {
  &:disabled {
    pointer-events: none;
  }
}
