@import "/node_modules/mini.css/dist/mini-dark.css";
@import "components/.components";

#app {
  height: 100vh;
  width: 100vw;
}

.app {
  position: relative;
  width: calc(100vw - (var(--universal-padding) * 2));
  min-height: calc(100vh - (var(--universal-padding) * 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--universal-padding);
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--universal-padding);
}

.footer {
  text-align: center;
}

.please-wait {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.success {
  --card-back-color: #1cb729;
  --card-fore-color: #f8f8f8;
  --card-border-color: #1cb729;
}
