@import "style";

@keyframes flash-warning {
  0% {
    background-color: var(--button-back-color);
  }
  49% {
    background-color: var(--button-back-color);
  }
  50% {
    background-color: var(--color-warning);
  }
  99% {
    background-color: var(--color-warning);
  }
  100% {
    background-color: var(--button-back-color);
  }
}

.item-list {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--universal-margin);

  .key {
    flex: 1;
    font-weight: 500;
    text-align: right;
  }
  .value {
    flex: 1;
  }
}

.sensor-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  & > * {
    text-align: right;
  }
}

.control-wrapper {
  display: flex;
  justify-content: stretch;
  width: 20rem;
  max-width: calc(100vw - (var(--universal-padding) * 2));

  .control-buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    height: 21rem;

    button {
      font-size: 3rem;
      color: white;
      height: 7rem;
    }
  }

  .status-indicators {
    flex: 1;
    border: 5px solid var(--button-back-color);
    border-radius: 2em;
    margin-left: 1em;
    height: 21rem;

    .state-indicator {
      border-radius: 1em;
      display: block;
      height: 6rem;
      margin: 0.75rem;
      background-color: var(--button-back-color);

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }

    .open .state-indicator.active,
    .closed .state-indicator.active {
      background-color: var(--color-success);
    }
    .transitioning .state-indicator.active {
      background-color: var(--color-warning);
      animation: flash-warning 1s infinite;
    }
  }
}

span.icon-up {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="499.918px" height="499.918px" viewBox="0 0 499.918 499.918" fill="%23FFFFFF" xml:space="preserve"%3E%3Cg%3E%3Cg%3E%3Cpath d="M276.332,10.924c-14.565-14.565-38.183-14.565-52.749,0L38.172,196.342c-14.565,14.566-9.676,26.371,10.918,26.371h70.778 v262.285c0,8.237,6.683,14.92,14.92,14.92h230.339c8.237,0,14.921-6.677,14.921-14.92V222.713h70.777 c20.593,0,25.489-11.805,10.919-26.371L276.332,10.924z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

span.icon-down {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="499.918px" height="499.918px" viewBox="0 0 499.918 499.918" fill="%23FFFFFF" xml:space="preserve"%3E%3Cg%3E%3Cg%3E%3Cpath d="M450.823,277.205h-70.777V14.921C380.046,6.683,373.362,0,365.125,0H134.792c-8.238,0-14.921,6.677-14.921,14.921v262.284 H49.094c-20.594,0-25.49,11.806-10.924,26.371l185.417,185.418c14.565,14.565,38.183,14.565,52.743,0l185.411-185.418 C476.313,289.011,471.424,277.205,450.823,277.205z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

span.icon-toggle {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" fill="%23FFFFFF" xml:space="preserve"%3E%3Cg%3E%3Cg%3E%3Cpath d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181 C512,123.109,464.891,76,407,76z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A');
}

.connection {
  margin: calc(var(--universal-margin) * 2);
  text-align: center;
}
