@import "style";

.config-list {
  margin-top: 1em;

  .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .key {
      flex: 1;
      font-weight: 500;
    }
    .value {
      flex: 1;
    }
  }
}

.sensor-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  & > * {
    text-align: right;
  }
}
